body{
    background-color: white;
}

/*-----------navbar Property------*/

.navbar{
    background-color: lightseagreen;
}
li a{
    color: solid black;
    position: relative;
    overflow: hidden;
}


/*-----------table Property------*/
table{
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
td, th{
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}